body{
    font-family: 'DM Sans', sans-serif;
    background: #f8ebf9;
    margin: 0 120px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

header nav{
    display: flex;
    align-items: center;
    gap: 20px;
}

header button{
    display: flex;
    padding: 7px 10px 4px 10px;
    cursor: pointer;
}

header nav a{
    color: black;
    font-weight: 600;
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
}

.section-1{
    display: flex;
    flex-direction: column;
}

.section-1 h1{
    font-size: 40px;
    width: 500px;
    margin-bottom: 10px;
}

.section-1 p{
    width: 370px;
    line-height: 23px;
    margin-left: 40px;
}

.section-2{
    display: flex;
    justify-content: center;
}

.section-2 form{
    display: flex;
    flex-direction: column;
    padding: 60px 50px;
    gap: 20px;
    background: #fff;
    border-radius: 10px;
}

.section-2 form h2{
    font-size: 25px;
    font-weight: 600;
}

input{
    color: grey;
    margin-bottom: -10px;
}

label{
    margin-bottom: -15px;
    font-weight: 600;
}

.checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.checkbox p{
    margin: 16px 0 -16px 0;
    font-size: 17px;
    width: 380px;
}

input{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid grey;
}

#button{
    color: #fff;
    background: #664efc;
}

@media screen and (max-width:768px) and (min-width:400px) {
    body{
        margin: 0 60px;
    }

    main{
        display: flex;
        flex-direction: column;
    }

    .section-1 h1{
        width: 600px;
        font-size: 35px;
    }

    .section-1 p{
        width: 560px;
        margin-left: 20px;
    }

    .section-2 form{
        padding: 60px 100px;
    }

    .section-2 form h2{
        font-size: 30px;
        width: 500px;
    }

    .checkbox{
        display: flex;
        justify-content: initial;
    }
}

@media screen and (max-width:400px) {
    body{
        margin: 0 25px;
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #link{
        display: none;
    }

    main{
        display: flex;
        flex-direction: column;
    }

    .section-1 h1{
        width: 300px;
        font-size: 32px;
        margin-right: 40px;
    }

    .section-1 p{
        width: 297px;
        margin-right: 25px;
    }

    .section-2 form{
        padding: 50px 30px;
        margin: auto;
        width: 300px;
    }

    .section-2 form h2{
        width: 300px;
        font-size: 20px;
    }

    label{
        margin-top: 20px;
    }

    .checkbox{
        margin-bottom: 40px;
    }

    .checkbox p{
        margin-bottom: -40px;
    }
}